=begin
#BeezUP API

#This is the RESTful API of BeezUP which allows you to manage everything related to BeezUP

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class FriendsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get friend information
    # 
    # @param user_id Your friend user id
    # @param [Hash] opts the optional parameters
    # @return [UserFriendInfo]
    def get_friend_info(user_id, opts = {})
      data, _status_code, _headers = get_friend_info_with_http_info(user_id, opts)
      return data
    end

    # Get friend information
    # 
    # @param user_id Your friend user id
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserFriendInfo, Fixnum, Hash)>] UserFriendInfo data, response status code and response headers
    def get_friend_info_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FriendsApi.get_friend_info ..."
      end
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling FriendsApi.get_friend_info" if user_id.nil?
      # resource path
      local_var_path = "/v2/user/customer/friends/{userId}".sub('{format}','json').sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UserFriendInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FriendsApi#get_friend_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
