{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "BeezUP API",
    "description": "This is the RESTful API of BeezUP which allows you to manage everything related to BeezUP",
    "contact": {
      "email": "support@beezup.com"
    },
    "license": {
      "name": "BeezUP",
      "url": "http://www.beezup.com"
    }
  },
  "host": "api.beezup.com",
  "basePath": "v2",
  "x-api-name": "V2UserCatalogs",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Auto",
      "description": "All operations related to the Auto importation"
    },
    {
      "name": "Global",
      "description": "All operations related to global information"
    },
    {
      "name": "Importation Process",
      "description": "All operations concerning the importation process"
    },
    {
      "name": "Importation Catalog Info",
      "description": "All operations related to the catalog information during the importation"
    },
    {
      "name": "Catalog",
      "description": "All operation related to the catalog"
    },
    {
      "name": "Channel Catalogs Global",
      "description": "All global operations"
    },
    {
      "name": "Channel Catalogs Settings",
      "description": "All settings operations"
    },
    {
      "name": "Channel Catalogs Column Mappings",
      "description": "All column mapping operations"
    },
    {
      "name": "Channel Catalogs Category Mappings",
      "description": "All category mapping operations"
    },
    {
      "name": "Channel Catalogs Exclusion Filters",
      "description": "All exclusion filters operations"
    },
    {
      "name": "Channel Catalogs Products",
      "description": "All products operations"
    },
    {
      "name": "Channel Catalogs Products Overrides",
      "description": "All products overrides operations"
    },
    {
      "name": "Channel Catalogs Products Optimisation",
      "description": "All products optimisation operations"
    },
    {
      "name": "Tracking",
      "description": "All tracking operations"
    },
    {
      "name": "Statistics",
      "description": "All statitics operations"
    },
    {
      "name": "Rules",
      "description": "All rules operations. Rules are automatic optimisations based on report filters."
    },
    {
      "name": "Reports",
      "description": "All reports operations"
    },
    {
      "name": "Optimisations",
      "description": "All optmisations operations"
    },
    {
      "name": "Channels Global",
      "description": "All global operations"
    },
    {
      "name": "Account",
      "description": "All user account operations"
    },
    {
      "name": "Stores",
      "description": "All stores operations"
    },
    {
      "name": "Shares",
      "description": "All store share operations"
    },
    {
      "name": "Alerts",
      "description": "All stores's alerts operations"
    },
    {
      "name": "Rights",
      "description": "All store rights operations"
    },
    {
      "name": "Friends",
      "description": "All friends operations"
    },
    {
      "name": "Contracts",
      "description": "All contracts and offer operations"
    },
    {
      "name": "Invoices",
      "description": "All invoice operations"
    },
    {
      "name": "Security",
      "description": "All security operations"
    },
    {
      "name": "Marketplaces - Channel catalogs - Global",
      "description": "Operations to fetch your marketplace account related to your channel catalogs"
    },
    {
      "name": "Marketplaces - Channel catalogs - Publications",
      "description": "Operations to fetch your marketplace account's catalog publication history"
    },
    {
      "name": "Marketplaces - Channel catalogs - Settings",
      "description": "Operations to manage your channel catalogs' marketplace settings"
    },
    {
      "name": "Global",
      "description": "All global operations (cross marketplace)"
    },
    {
      "name": "AutoTransitions",
      "description": "All auto transitions operations"
    },
    {
      "name": "List",
      "description": "All Order list operations"
    },
    {
      "name": "Order",
      "description": "All operations related to a single Order"
    },
    {
      "name": "Batches",
      "description": "All batch operations on Orders to reduce call rate"
    },
    {
      "name": "Exports",
      "description": "All Order report exportation operations"
    },
    {
      "name": "Public Channels",
      "description": "All our public channels operations"
    },
    {
      "name": "LOV",
      "description": "All LOV operations"
    },
    {
      "name": "Groups",
      "description": "All LOV groups operations"
    },
    {
      "name": "LOV",
      "description": "All LOV operations"
    },
    {
      "name": "Groups",
      "description": "All LOV groups operations"
    },
    {
      "name": "Security"
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "description": "The api subscription key",
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "responses": {
    "importStarted": {
      "description": "Catalog importation started",
      "headers": {
        "Location": {
          "description": "The location of the new resource to poll",
          "type": "string",
          "x-example": "/v2/user/catalogs/a42b780d-4585-4566-800e-4d77a4d6f8a3/importations/222ef571-bdb7-436d-a01a-e5a0e9161c0c"
        },
        "Retry-After": {
          "description": "The duration in second to wait before polling this resource",
          "type": "integer",
          "minimum": 5,
          "default": 5,
          "x-example": 5
        }
      },
      "schema": {
        "x-links": [
          {
            "self": {
              "operationId": "Importation_GetImportationMonitoring"
            }
          }
        ],
        "type": "array",
        "items": {
          "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link2"
        },
        "example": [
          {
            "rel": "self",
            "href": "/v2/user/catalogs/{storeId}/importations/{executionId}",
            "method": "GET",
            "parameters": [
              {
                "name": "storeId",
                "value": "a42b780d-4585-4566-800e-4d77a4d6f8a3",
                "int": "path",
                "type": "string"
              },
              {
                "name": "executionId",
                "value": "222ef571-bdb7-436d-a01a-e5a0e9161c0c",
                "int": "path",
                "type": "string"
              }
            ]
          }
        ]
      }
    },
    "importAlreadyInProgress": {
      "description": "When a catalog importation is already in progress!",
      "schema": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.UserErrorMessage"
            }
          },
          "links": {
            "description": "contains the link to the current importation. rel=currentImportation",
            "type": "array",
            "items": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link2"
            },
            "example": [
              {
                "rel": "currentImportation",
                "href": "/v2/user/catalogs/{storeId}/importations/{executionId}",
                "operationId": "Importation_GetImportationMonitoring",
                "method": "GET",
                "parameters": [
                  {
                    "name": "storeId",
                    "in": "path",
                    "required": true,
                    "value": "1c1b7ffd-4c4f-4261-881a-1f089b9cf0eb"
                  },
                  {
                    "name": "executionId",
                    "in": "path",
                    "required": true,
                    "value": "b24d0dd8-a561-478a-9b26-34f573f03527"
                  }
                ]
              }
            ]
          }
        }
      }
    },
    "processingResponse": {
      "description": "The marketplace configuration related to this channel catalog is currently in progress. Please retry later.",
      "headers": {
        "Retry-After": {
          "description": "Indicate the duration to before the next retry in second.",
          "type": "integer",
          "format": "int32",
          "x-example": 120
        }
      }
    }
  },
  "parameters": {
    "executionId": {
      "name": "executionId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "description": "The execution identifier of you catalog importation"
    },
    "catalogColumnId": {
      "name": "columnId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "description": "The catalog column identifier"
    },
    "customColumnId": {
      "name": "columnId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "description": "The custom column identifier"
    },
    "productSampleIndex": {
      "name": "productSampleIndex",
      "in": "path",
      "description": "Index of the product sample. Starting from 0 to 99.",
      "required": true,
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "maximum": 99
    },
    "channelCatalogIdParameter": {
      "name": "channelCatalogId",
      "in": "path",
      "required": true,
      "description": "The channel catalog identifier",
      "type": "string",
      "format": "guid",
      "x-example": "6d6b04de-406b-4539-8e7e-bf3e8da5dfb0"
    },
    "productIdParameter": {
      "name": "productId",
      "description": "The product identifier",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "x-example": "578419df-1bbf-41a6-96fa-862e42182b67"
    },
    "exportFormatInQueryGeneralParameter": {
      "name": "format",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "xlsx",
        "csv"
      ]
    },
    "ruleIdOnlyGeneralParameters": {
      "name": "ruleId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "description": "Your rule identifier"
    },
    "reportFilterIdOnlyGeneralParameters": {
      "name": "reportFilterId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "guid",
      "description": "Your report filter identifier"
    },
    "optimisationActionNameGeneralParameters": {
      "name": "actionName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "reenable",
        "disable"
      ],
      "format": "optimisationActionName"
    },
    "channelIdParameter": {
      "name": "channelId",
      "in": "path",
      "required": true,
      "description": "The channel identifier",
      "type": "string",
      "format": "guid",
      "x-example": "2dc136a7-0d3d-4cc9-a825-a28a42c53e28"
    },
    "marketplaceTechnicalCodeParameter": {
      "description": "The marketplace technical code",
      "name": "marketplaceTechnicalCode",
      "in": "path",
      "required": true,
      "type": "string",
      "x-example": "Amazon"
    },
    "accountIdParameter": {
      "description": "The account identifier",
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32",
      "x-example": 1001
    },
    "beezUPOrderIdParameter": {
      "description": "The BeezUP Order identifier",
      "name": "beezUPOrderId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "uuid",
      "x-example": "00000000000000000000000000000000000000000000000"
    },
    "changeOrderTypeParameter": {
      "description": "The Order change type",
      "name": "changeOrderType",
      "in": "path",
      "required": true,
      "type": "string",
      "x-lov": "OrderChangeBusinessOperationType"
    },
    "userNameInQueryParameter": {
      "name": "userName",
      "description": "Sometimes the user in the e-commerce application is not the same as user associated with the current subscription key. We recommend providing your application's user login.",
      "in": "query",
      "required": true,
      "type": "string"
    },
    "testModeInQueryParameter": {
      "name": "testMode",
      "description": "If true, the operation will be not be sent to marketplace. But the validation will be taken in account.",
      "in": "query",
      "required": false,
      "type": "boolean",
      "default": false,
      "x-example": false
    }
  },
  "paths": {
    "/v2/user/catalogs/beezupColumns": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetBeezUPColumns",
        "summary": "Get the BeezUP columns",
        "description": "Get the BeezUP columns, this columns are used for mapping during the manual catalog importation process.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/beezUPColumnConfiguration"
              },
              "example": null
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/inputConfiguration": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Importation_GetManualUpdateLastInputConfig",
        "summary": "Get the last input configuration",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/lastManualImportInputConfiguration"
            }
          },
          "404": {
            "description": "StoreId or Manual Update last configuration not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/catalogColumns": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetCatalogColumns",
        "summary": "Get catalog column list",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog column list",
            "schema": {
              "$ref": "#/definitions/catalogColumns"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/catalogColumns/{columnId}/rename": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_ChangeCatalogColumnUserName",
        "summary": "Change Catalog Column User Name",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/catalogColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeUserColumnNameRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column user name changed"
          },
          "400": {
            "description": "When a user column name is duplicate.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog column is not found."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetCustomColumns",
        "summary": "Get custom column list",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom column list",
            "schema": {
              "$ref": "#/definitions/customColumns"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}": {
      "put": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_SaveCustomColumn",
        "summary": "Create or replace a custom column",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCustomColumnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column saved"
          },
          "400": {
            "description": "Occurs when a catalog custom column id is already used by a catalog column.\nWhen the catalog custom column count limit has been reached.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Delete custom column",
        "operationId": "Catalog_DeleteCustomColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column deleted"
          },
          "403": {
            "description": "Occurs when the parent category is not found."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "description": "When a catalog importation is already in progress!",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}/rename": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Change Custom Column User Name",
        "operationId": "Catalog_ChangeCustomColumnUserName",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeUserColumnNameRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column renamed"
          },
          "400": {
            "description": "When a user column name is duplicate.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog column is not found."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}/expression": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the encrypted custom column expression",
        "operationId": "Catalog_GetCustomColumnExpression",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "200": {
            "description": "Encrypted expression",
            "schema": {
              "type": "string",
              "example": "zlkzjkzjlzlknzklnzlknaklnaklanlknaklan"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog custom column is not found."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Change custom column expression",
        "operationId": "Catalog_ChangeCustomColumnExpression",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeCustomColumnExpressionRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column expression saved"
          },
          "403": {
            "description": "Occurs when the user try to change a custom column related to a Category. If you want to change this custom column expression you have to make a new manual importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog custom column is not found."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/computeExpression": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Compute the expression for this catalog.",
        "operationId": "Catalog_ComputeExpression",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/computeExpressionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compute an expression",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/categories": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetCategories",
        "summary": "Get category list",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "Accept-Encoding",
            "description": "Indicates that the client accepts that the response will be compressed to reduce traffic size.",
            "in": "header",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "collectionFormat": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories",
            "headers": {
              "Content-Encoding": {
                "description": "Indicates the compression use in the response",
                "type": "array",
                "items": {
                  "type": "string",
                  "collectionFormat": "csv"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/categories"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/products": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetProducts",
        "summary": "Get product list",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/getProductsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "schema": {
              "$ref": "#/definitions/products"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/products/random": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetRandomProducts",
        "summary": "Get random product list",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "count",
            "description": "The count of random product you want to get",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "minimum": 25,
            "maximum": 100,
            "x-example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Random product list",
            "schema": {
              "$ref": "#/definitions/products"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/products/{productId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Catalog_GetProduct",
        "summary": "Get product",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "productId",
            "description": "The product identifier you want to get",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "guid"
          }
        ],
        "responses": {
          "200": {
            "description": "Product",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "404": {
            "description": "StoreId not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Start Manual Import",
        "operationId": "Importation_StartManualUpdate",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/startManualImportRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/importStarted"
          },
          "400": {
            "description": "Missing Input configuration in the request\nOccurs when there is a duplicate file number in the input configuration\nOccurs when there is a duplicate file Uri in the input configuration",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the latest catalog importation reporting",
        "operationId": "Importation_GetReportings",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "The last importation reportings",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/importationReporting"
              }
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the importation status",
        "operationId": "Importation_GetImportationMonitoring",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/importationMonitoring"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec after the import has been started, please contact our support"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Cancel importation",
        "operationId": "Importation_Cancel",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog importation canceled"
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/technicalProgression": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get technical progression",
        "operationId": "Importation_TechnicalProgression",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "200": {
            "description": "When the technical progression is correctly retrived",
            "schema": {
              "$ref": "#/definitions/importationTechnicalProgression"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/configureRemainingCatalogColumns": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Configure remaining catalog columns",
        "description": "This operation should be used after you have mapped the required BeezUP Columns",
        "operationId": "Importation_ConfigureRemainingCatalogColumns",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Remaining catalog columns have been configured. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "400": {
            "description": "When a user column name is duplicate.\nWhen the catalog column name are duplicate.\nWhen the BeezUP column have duplicate mapping.\nOccurs when the required beezup column is not mapped to any column.\nOccurs when the category hierarchy is not correctly mapped.\nOccurs when the duplicate strategy on {catalogColumnName} is not found.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/commitColumns": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Commit columns",
        "operationId": "Importation_CommitColumns",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Columns configuration have been committed. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "400": {
            "description": "When a user column name is duplicate.\nWhen the catalog column name are duplicate.\nWhen the BeezUP column have duplicate mapping.\nOccurs when the required beezup column is not mapped to any column.\nOccurs when the category hierarchy is not correctly mapped.\nWhen the catalog column count limit has been reached.\nWhen the catalog custom column count limit has been reached.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/commit": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Commit Importation",
        "operationId": "Importation_Commit",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog importation committed"
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/productSamples/{productSampleIndex}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the product sample related to this importation with all columns (catalog and custom)",
        "operationId": "Importation_GetProductSample",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/productSampleIndex"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productSample"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec, please contact our support"
          },
          "409": {
            "description": "Catalog preparation read step is not completed. Please refer to the reporting of this execution for more details."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/productSamples/{productSampleIndex}/customColumns/{columnId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get product sample custom column value related to this importation.",
        "description": "/!\\ Use this operation only when you just changed the custom column expression and you want to get a precise the property value. Otherwise use the operation Importation_GetProductSample which will give you all property values",
        "operationId": "Importation_GetProductSampleCustomColumnValue",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/productSampleIndex"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product sample custom column value",
            "schema": {
              "type": "string",
              "example": "A value computed from a expression"
            }
          },
          "404": {
            "headers": {
              "Retry-After": {
                "description": "The duration in second to wait before polling this resource",
                "type": "integer",
                "minimum": 5,
                "default": 5,
                "x-example": 5
              }
            },
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec, please contact our support"
          },
          "409": {
            "description": "Catalog preparation read step is not completed. Please refer to the reporting of this execution for more details."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get detected catalog columns during this importation.",
        "operationId": "Importation_GetDetectedCatalogColumns",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/detectedCatalogColumns"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec, please contact our support"
          },
          "409": {
            "description": "Catalog preparation read step is not completed. Please refer to the reporting of this execution for more details."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns/{columnId}": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Configure catalog column",
        "operationId": "Importation_ConfigureCatalogColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configureCatalogColumnCatalogRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column configured. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "400": {
            "description": "\nWhen the catalog column name is not found",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns/{columnId}/ignore": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Ignore Column",
        "operationId": "Importation_IgnoreColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column ignored. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns/{columnId}/reattend": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Reattend Column",
        "operationId": "Importation_ReattendColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column reattended. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns/{columnId}/map": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Map catalog column to a BeezUP column",
        "operationId": "Importation_MapCatalogColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/catalogColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mapBeezUPColumnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column mapped. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/catalogColumns/{columnId}/unmap": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Unmap catalog column",
        "operationId": "Importation_UnmapCatalogColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/catalogColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog Column unmapped. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/customColumns": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get custom columns currently place in this importation",
        "operationId": "Importation_GetCustomColumns",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom columns of current Importation successfully retrieved",
            "schema": {
              "$ref": "#/definitions/customColumns"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec, please contact our support"
          },
          "409": {
            "description": "Catalog preparation read step is not completed. Please refer to the reporting of this execution for more details."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/customColumns/{columnId}/expression": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the encrypted custom column expression in this importation",
        "operationId": "Importation_GetCustomColumnExpression",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "200": {
            "description": "Encrypted expression",
            "schema": {
              "type": "string",
              "example": "zlkzjkzjlzlknzklnzlknaklnaklanlknaklan"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec, please contact our support"
          },
          "409": {
            "description": "Catalog preparation read step is not completed. Please refer to the reporting of this execution for more details."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/customColumns/{columnId}": {
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Create or replace a custom column",
        "operationId": "Importation_SaveCustomColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeCustomColumnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column configured. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Delete Custom Column",
        "operationId": "Importation_DeleteCustomColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "When the custom column for this importation is correctly deleted"
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/customColumns/{columnId}/map": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Map custom column to a BeezUP column",
        "operationId": "Importation_MapCustomColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mapBeezUPColumnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column mapped. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/customColumns/{columnId}/unmap": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Unmap custom column",
        "operationId": "Importation_UnmapCustomColumn",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column unmapped. This operation has no impact on the current catalog until you commit the catalog importation."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when the message concerns the wrong execution.\nOccurs when a catalog column is not found."
          },
          "409": {
            "description": "Occurs when this importation is already finished."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Auto_GetAutoImportConfiguration",
        "summary": "Get the auto import configuration",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto import configuration",
            "schema": {
              "$ref": "#/definitions/autoImportConfiguration"
            }
          },
          "404": {
            "description": "StoreId or Auto Import configuration not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Importation_ActivateAutoImport",
        "summary": "Activate the auto importation of the last successful manual catalog importation.",
        "description": "Once you have made your fist manual catalog importation with success, you can call this operation to import it automatically. No parameter required, we know which one it is.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import activated"
          },
          "400": {
            "description": "Occurs when the user tries to auto import a local file.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "description": "When a catalog importation is already in progress!",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Auto_DeleteAutoImport",
        "summary": "Delete Auto Import",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import deleted"
          },
          "400": {
            "description": "Occurs when the catalog auto import is not configured."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport/start": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Start Auto Import Manually",
        "operationId": "Auto_StartAutoImport",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/importStarted"
          },
          "400": {
            "description": "Occurs when the catalog auto import is not configured.\nWhen a user column name is duplicate.\nWhen the catalog column name are duplicate.\nWhen the BeezUP column have duplicate mapping.\nOccurs when the required beezup column is not mapped to any column.\nOccurs when the category hierarchy is not correctly mapped.\nOccurs when the duplicate strategy on {catalogColumnName} is not found.\nWhen the user tries to import to ofen the catalog file to download count max limit has been reached.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "description": "When a catalog importation is already in progress!",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport/pause": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Auto_PauseAutoImport",
        "summary": "Pause Auto Import",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import paused"
          },
          "400": {
            "description": "Occurs when the catalog auto import is not configured."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport/resume": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Auto_ResumeAutoImport",
        "summary": "Resume Auto Import",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import resumed"
          },
          "400": {
            "description": "Occurs when the catalog auto import is not configured."
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport/scheduling/interval": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "operationId": "Auto_ConfigureAutoImportInterval",
        "summary": "Configure Auto Import Interval",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configureAutoImportIntervalRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import scheduling interval saved"
          },
          "400": {
            "description": "\nWhen the min catalog Auto Import scheduling interval delay has been reached.\nWhen the max catalog Auto Import count has been reached.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/catalogs/{storeId}/autoImport/scheduling/schedules": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Configure Auto Import Schedules",
        "operationId": "Auto_ScheduleAutoImport",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/scheduleAutoImportRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Auto import scheduling saved"
          },
          "400": {
            "description": "\nWhen the max catalog Auto Import count has been reached.\nWhen the min catalog Auto Import scheduling interval delay has been reached.\nWhen the max catalog Auto Import count has been reached.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "List all your current channel catalogs",
        "operationId": "GetChannelCatalogs",
        "parameters": [
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "description": "The store identifier",
            "type": "string",
            "format": "guid",
            "x-example": "04730364-9826-4ff3-92e4-51fccd02bf10"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/channelCatalogList"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Create a new channel catalog",
        "operationId": "CreateChannelCatalog",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createChannelCatalogRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "When the channel has been successfully added for this store",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The new location",
                "x-example": "/v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0"
              },
              "Retry-After": {
                "description": "The duration in second to wait before polling this resource",
                "type": "integer",
                "minimum": 5,
                "default": 5,
                "x-example": 5
              }
            },
            "schema": {
              "description": "Link to the new channel catalog",
              "type": "array",
              "items": {
                "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link2"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the channel catalog information",
        "operationId": "GetChannelCatalog",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel catalog",
            "schema": {
              "$ref": "#/definitions/channelCatalog"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Delete the channel catalog",
        "operationId": "DeleteChannelCatalog",
        "responses": {
          "204": {
            "description": "Channel catalog deleted"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/enable": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Enable a channel catalog",
        "operationId": "EnableChannelCatalog",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog enabled"
          },
          "402": {
            "description": "You have to upgrade your offer to activate this channel catalog",
            "schema": {
              "$ref": "#/definitions/upgradeOfferRequired"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/disable": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Disable a channel catalog",
        "operationId": "DisableChannelCatalog",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog disabled"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/settings/general": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Disable a channel catalog",
        "operationId": "ConfigureChannelCatalogGeneralSettings",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/generalSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog general settings configured"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/settings/cost": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Disable a channel catalog",
        "operationId": "ConfigureChannelCatalogCostSettings",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/costSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog cost settings configured"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/columnMappings": {
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Configure channel catalog column mappings",
        "operationId": "MapChannelCatalogColumns",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/columnMappingList"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog column mappings configured"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/categoryMappings": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get channel catalog categories",
        "operationId": "GetChannelCatalogCategories",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel catalog category mappings",
            "schema": {
              "$ref": "#/definitions/channelCatalogCategoryMappings"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/categoryMappings/map": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Map channel catalog category",
        "operationId": "MapChannelCatalogCategory",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mapCategoryRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog category mapped"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/categoryMappings/unmap": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Unmap channel catalog category",
        "operationId": "UnmapChannelCatalogCategory",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/unmapCategoryRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog category unmapped"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/exclusionFilterOperators": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get channel catalog exclusion filter operators",
        "operationId": "GetChannelCatalogExclusionFilterOperators",
        "responses": {
          "200": {
            "description": "Channel catalog exclusion filter operator list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/exclusionFilterOperator"
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/exclusionFilters": {
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Configure channel catalog exclusion filters",
        "operationId": "ConfigureChannelCatalogExclusionFilters",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/exclusionFilters"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog exclusion filter list configured"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get channel catalog product information list",
        "operationId": "GetChannelCatalogProductInfoList",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The channel catalog product list filter",
            "schema": {
              "$ref": "#/definitions/getChannelCatalogProductInfoListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel catalog product information",
            "schema": {
              "$ref": "#/definitions/channelCatalogProductInfoList"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products/{productId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get channel catalog product information",
        "operationId": "GetChannelCatalogProductInfo",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "$ref": "#/parameters/productIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel catalog product information",
            "schema": {
              "$ref": "#/definitions/channelCatalogProductInfo"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products/{productId}/overrides": {
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Override channel catalog product values",
        "operationId": "OverrideChannelCatalogProductOverrides",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "$ref": "#/parameters/productIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productOverrides"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog product overriden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products/{productId}/overrides/{channelColumnId}": {
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Delete a specific channel catalog product value override",
        "operationId": "DeleteChannelCatalogProductValueOverride",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "$ref": "#/parameters/productIdParameter"
          },
          {
            "name": "channelColumnId",
            "description": "The channel column identifier",
            "in": "path",
            "type": "string",
            "format": "guid",
            "required": true,
            "x-example": "8a76f06a-fefc-4c0d-bcfe-b210f1482977"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog product value override deleted"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products/{productId}/disable": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Disable channel catalog product",
        "operationId": "DisableChannelCatalogProduct",
        "description": "By default a all your catalog products are exposed to the channel.\nYou can disable a product by using this operation.\n/!\\ In case of massive optimisation we recommand you to use the analytics api\n",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "$ref": "#/parameters/productIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog product disabled"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/channelCatalogs/{channelCatalogId}/products/{productId}/reenable": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Reenable channel catalog product",
        "description": "By default a all your catalog products are exposed to the channel.\nYou can reenable a product by using this operation.\n/!\\ In case of massive optimisation we recommand you to use the analytics api\n",
        "operationId": "ReenableChannelCatalogProduct",
        "parameters": [
          {
            "$ref": "#/parameters/channelCatalogIdParameter"
          },
          {
            "$ref": "#/parameters/productIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel catalog product reenabled"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/tracking/status": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Display the synchronization status of the clicks and orders",
        "description": "Your clicks and orders are eventually consistent. \\\nThis operation indicates you at which date the projections are.\n",
        "operationId": "GetTrackingStatus",
        "responses": {
          "200": {
            "description": "The tracking status informations",
            "schema": {
              "$ref": "#/definitions/trackingStatus"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/filters": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get report filter list for the given store",
        "operationId": "GetReportFilters",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Report filter list",
            "schema": {
              "$ref": "#/definitions/reportFilters"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/filters/{reportFilterId}": {
      "get": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the report filter description",
        "operationId": "GetReportFilter",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/reportFilterIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Report filter",
            "schema": {
              "$ref": "#/definitions/reportFilter"
            }
          },
          "404": {
            "description": "Report filter not found"
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Delete the report filter",
        "operationId": "DeleteReportFilter",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/reportFilterIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Report filter deleted"
          },
          "404": {
            "description": "Report filter not found"
          },
          "401": {
            "description": "This report filter is used by rule. In the error message you will find the rule identifier.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Save the report filter",
        "operationId": "SaveReportFilter",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/reportFilterIdOnlyGeneralParameters"
          },
          {
            "name": "reportFilter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/saveReportFilterRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Report filter saved"
          },
          "409": {
            "description": "Report filter name already exists"
          },
          "401": {
            "description": "This report filter is used by rule. In the error message you will find the rule identifier.",
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/byday": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the report by day",
        "description": "Get the report by day",
        "operationId": "GetStoreReportByDay",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByDayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by day",
            "schema": {
              "$ref": "#/definitions/reportByDayResponse"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/byday/export": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the report by day",
        "description": "Get the report by day",
        "operationId": "GetStoreReportByDayExport",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/exportFormatInQueryGeneralParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByDayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by day exported into a file",
            "headers": {
              "Location": {
                "description": "To indicate the url of the export file\nExample: https://beezupchannel.blob.core.windows.net/reports/exports/Excel_Report_Days.xslx\n",
                "type": "string",
                "x-example": "https://beezupchannel.blob.core.windows.net/reports/exports/Excel_Report_Days.xslx"
              }
            },
            "schema": {
              "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3"
            },
            "examples": {
              "application/json": {
                "href": "https://beezupchannel.blob.core.windows.net/reports/exports/Excel_Report_Days.xslx",
                "method": "GET"
              }
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/bychannel": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Get the report by channel",
        "description": "Get the report by channel",
        "operationId": "GetStoreReportByChannel",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByChannelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by channel",
            "schema": {
              "$ref": "#/definitions/reportByChannelResponse"
            }
          },
          "default": {
            "$ref": "https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/user/analytics/{storeId}/reports/bychannel/export": {
      "post": {
        "tags": [
          "BeezUP"
        ],
        "summary": "Export the report by channel",
        "description": "Export the report by channel",
[...]
