=begin
#BeezUP API

## The REST API of BeezUP system ## Overview The REST APIs provide programmatic access to read and write BeezUP data.  Basically, with this API you will be able to do everything like you were with your browser on https://go.beezup.com !  The main features are: - Register and manage your account - Create and manage and share your stores with your friends/co-workers. - Import your product catalog and schedule the auto importation - Search the channels your want to use - Configure your channels for your catalogs to export your product information:     - cost and general settings     - category and columns mappings     - your will be able to create and manage your custom column     - put in place exlusion filters based on simple conditions on your product data     - override product values     - get product vision for a channel catalog scope - Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product. - Automatize your optimisation by using rules! - And of course... Manage your orders harvested from all your marketplaces:     - Synchronize your orders in an uniformized way     - Get the available actions and update the order status - ...and more!  ## Authentication credentials The public API with the base path **/v2/public** have been put in place to give you an entry point to our system for the user registration, login and lost password. The public API does not require any credentials. We give you the some public list of values and public channels for our public commercial web site [www.beezup.com](http://www.beezup.com).  The user API with the base path **/v2/user** requires a token which is available on this page: https://go.beezup.com/Account/MyAccount  ## Things to keep in mind ### API Rate Limits - The BeezUP REST API is limited to 100 calls/minute.  ### Media type The default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.  ### Required content type The required and default encoding for the request and responses is UTF8.  ### Required date time format All our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.  ### Base URL The Base URL of the BeezUP API Order Management REST API conforms to the following template.  https://api.beezup.com  All URLs returned by the BeezUP API are relative to this base URL, and all requests to the REST API must use this base URL template.  You can test our API on https://api-docs.beezup.com/swagger-ui\\ You can contact us on [gitter, #BeezUP/API](https://gitter.im/beezUP/API) 

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class AnalyticsTrackingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get the latest clicks tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The click&#39;s count you want to get (default to 100)
    # @return [TrackedClicks]
    def get_store_tracked_clicks(store_id, opts = {})
      data, _status_code, _headers = get_store_tracked_clicks_with_http_info(store_id, opts)
      return data
    end

    # Get the latest clicks tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The click&#39;s count you want to get
    # @return [Array<(TrackedClicks, Fixnum, Hash)>] TrackedClicks data, response status code and response headers
    def get_store_tracked_clicks_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AnalyticsTrackingApi.get_store_tracked_clicks ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling AnalyticsTrackingApi.get_store_tracked_clicks" if store_id.nil?
      if !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_clicks, must be smaller than or equal to 100.'
      end

      if !opts[:'count'].nil? && opts[:'count'] < 5
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_clicks, must be greater than or equal to 5.'
      end

      # resource path
      local_var_path = "/user/analytics/{storeId}/tracking/clicks".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TrackedClicks')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsTrackingApi#get_store_tracked_clicks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the latest external orders tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The external order&#39;s count you want to get (default to 100)
    # @return [TrackedExternalOrders]
    def get_store_tracked_external_orders(store_id, opts = {})
      data, _status_code, _headers = get_store_tracked_external_orders_with_http_info(store_id, opts)
      return data
    end

    # Get the latest external orders tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The external order&#39;s count you want to get
    # @return [Array<(TrackedExternalOrders, Fixnum, Hash)>] TrackedExternalOrders data, response status code and response headers
    def get_store_tracked_external_orders_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AnalyticsTrackingApi.get_store_tracked_external_orders ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling AnalyticsTrackingApi.get_store_tracked_external_orders" if store_id.nil?
      if !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_external_orders, must be smaller than or equal to 100.'
      end

      if !opts[:'count'].nil? && opts[:'count'] < 5
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_external_orders, must be greater than or equal to 5.'
      end

      # resource path
      local_var_path = "/user/analytics/{storeId}/tracking/externalorders".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TrackedExternalOrders')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsTrackingApi#get_store_tracked_external_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the latest orders tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The order&#39;s count you want to get (default to 100)
    # @return [TrackedOrders]
    def get_store_tracked_orders(store_id, opts = {})
      data, _status_code, _headers = get_store_tracked_orders_with_http_info(store_id, opts)
      return data
    end

    # Get the latest orders tracked
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count The order&#39;s count you want to get
    # @return [Array<(TrackedOrders, Fixnum, Hash)>] TrackedOrders data, response status code and response headers
    def get_store_tracked_orders_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AnalyticsTrackingApi.get_store_tracked_orders ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling AnalyticsTrackingApi.get_store_tracked_orders" if store_id.nil?
      if !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_orders, must be smaller than or equal to 100.'
      end

      if !opts[:'count'].nil? && opts[:'count'] < 5
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling AnalyticsTrackingApi.get_store_tracked_orders, must be greater than or equal to 5.'
      end

      # resource path
      local_var_path = "/user/analytics/{storeId}/tracking/orders".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TrackedOrders')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsTrackingApi#get_store_tracked_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get store tracking synchronization status
    # Your clicks and orders are eventually consistent. \\ This operation indicates you at which date the projections are for this store. 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @return [StoreTrackingStatus]
    def get_store_tracking_status(store_id, opts = {})
      data, _status_code, _headers = get_store_tracking_status_with_http_info(store_id, opts)
      return data
    end

    # Get store tracking synchronization status
    # Your clicks and orders are eventually consistent. \\ This operation indicates you at which date the projections are for this store. 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreTrackingStatus, Fixnum, Hash)>] StoreTrackingStatus data, response status code and response headers
    def get_store_tracking_status_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AnalyticsTrackingApi.get_store_tracking_status ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling AnalyticsTrackingApi.get_store_tracking_status" if store_id.nil?
      # resource path
      local_var_path = "/user/analytics/{storeId}/tracking/status".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StoreTrackingStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsTrackingApi#get_store_tracking_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Display the synchronization status of the clicks and orders
    # Your clicks and orders are eventually consistent. \\ This operation indicates you at which date the projections are. 
    # @param [Hash] opts the optional parameters
    # @return [TrackingStatus]
    def get_tracking_status(opts = {})
      data, _status_code, _headers = get_tracking_status_with_http_info(opts)
      return data
    end

    # Display the synchronization status of the clicks and orders
    # Your clicks and orders are eventually consistent. \\ This operation indicates you at which date the projections are. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackingStatus, Fixnum, Hash)>] TrackingStatus data, response status code and response headers
    def get_tracking_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AnalyticsTrackingApi.get_tracking_status ..."
      end
      # resource path
      local_var_path = "/user/analytics/tracking/status".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TrackingStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsTrackingApi#get_tracking_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
