=begin
#Public - Security

#This API will allow you to create your account and to get your tokens. \\ If you lost your password, you have an operation to get it back. 

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CustomerRightsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get store's rights
    # 
    # @param store_id Your store identifier
    # @param functionality_code_list The functionality code list you want to check
    # @param [Hash] opts the optional parameters
    # @return [Array<FunctionalityRightInfo>]
    def get_rights(store_id, functionality_code_list, opts = {})
      data, _status_code, _headers = get_rights_with_http_info(store_id, functionality_code_list, opts)
      return data
    end

    # Get store&#39;s rights
    # 
    # @param store_id Your store identifier
    # @param functionality_code_list The functionality code list you want to check
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FunctionalityRightInfo>, Fixnum, Hash)>] Array<FunctionalityRightInfo> data, response status code and response headers
    def get_rights_with_http_info(store_id, functionality_code_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerRightsApi.get_rights ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling CustomerRightsApi.get_rights" if store_id.nil?
      # verify the required parameter 'functionality_code_list' is set
      fail ArgumentError, "Missing the required parameter 'functionality_code_list' when calling CustomerRightsApi.get_rights" if functionality_code_list.nil?
      # resource path
      local_var_path = "/user/customer/stores/{storeId}/rights".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(functionality_code_list)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<FunctionalityRightInfo>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerRightsApi#get_rights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
