=begin
#Public - Security

#This API will allow you to create your account and to get your tokens. \\ If you lost your password, you have an operation to get it back. 

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CustomerAlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get store's alerts
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @return [StoreAlerts]
    def get_store_alerts(store_id, opts = {})
      data, _status_code, _headers = get_store_alerts_with_http_info(store_id, opts)
      return data
    end

    # Get store&#39;s alerts
    # 
    # @param store_id Your store identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoreAlerts, Fixnum, Hash)>] StoreAlerts data, response status code and response headers
    def get_store_alerts_with_http_info(store_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerAlertsApi.get_store_alerts ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling CustomerAlertsApi.get_store_alerts" if store_id.nil?
      # resource path
      local_var_path = "/user/customer/stores/{storeId}/alerts".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StoreAlerts')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAlertsApi#get_store_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save store alert
    # 
    # @param store_id Your store identifier
    # @param alert_id 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def save_store_alert(store_id, alert_id, request, opts = {})
      save_store_alert_with_http_info(store_id, alert_id, request, opts)
      return nil
    end

    # Save store alert
    # 
    # @param store_id Your store identifier
    # @param alert_id 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def save_store_alert_with_http_info(store_id, alert_id, request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomerAlertsApi.save_store_alert ..."
      end
      # verify the required parameter 'store_id' is set
      fail ArgumentError, "Missing the required parameter 'store_id' when calling CustomerAlertsApi.save_store_alert" if store_id.nil?
      # verify the required parameter 'alert_id' is set
      fail ArgumentError, "Missing the required parameter 'alert_id' when calling CustomerAlertsApi.save_store_alert" if alert_id.nil?
      # verify the required parameter 'request' is set
      fail ArgumentError, "Missing the required parameter 'request' when calling CustomerAlertsApi.save_store_alert" if request.nil?
      # resource path
      local_var_path = "/user/customer/stores/{storeId}/alerts/{alertId}".sub('{format}','json').sub('{' + 'storeId' + '}', store_id.to_s).sub('{' + 'alertId' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAlertsApi#save_store_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
