=begin
#Public - Security

#This API will allow you to create your account and to get your tokens. \\ If you lost your password, you have an operation to get it back. 

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class MarketplacesOrdersAutoTransitionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Configure new or existing automatic Order status transition
    # 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def configure_automatic_transitions(request, opts = {})
      configure_automatic_transitions_with_http_info(request, opts)
      return nil
    end

    # Configure new or existing automatic Order status transition
    # 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def configure_automatic_transitions_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersAutoTransitionsApi.configure_automatic_transitions ..."
      end
      # verify the required parameter 'request' is set
      fail ArgumentError, "Missing the required parameter 'request' when calling MarketplacesOrdersAutoTransitionsApi.configure_automatic_transitions" if request.nil?
      # resource path
      local_var_path = "/user/marketplaces/orders/automaticTransitions".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersAutoTransitionsApi#configure_automatic_transitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of configured automatic Order status transitions
    # 
    # @param [Hash] opts the optional parameters
    # @return [AutomaticTransitionInfos]
    def get_automatic_transitions(opts = {})
      data, _status_code, _headers = get_automatic_transitions_with_http_info(opts)
      return data
    end

    # Get list of configured automatic Order status transitions
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutomaticTransitionInfos, Fixnum, Hash)>] AutomaticTransitionInfos data, response status code and response headers
    def get_automatic_transitions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersAutoTransitionsApi.get_automatic_transitions ..."
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/automaticTransitions".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AutomaticTransitionInfos')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersAutoTransitionsApi#get_automatic_transitions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
