=begin
#BeezUP API

#This is the RESTful API of BeezUP which allows you to manage everything related to BeezUP

OpenAPI spec version: 2.0
Contact: support@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class V2UserMarketplacesChannelCatalogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get the marketplace properties for a channel catalog
    # 
    # @param channel_catalog_id 
    # @param [Hash] opts the optional parameters
    # @return [ChannelCatalogMarketplaceProperties]
    def get_channel_catalog_marketplace_properties(channel_catalog_id, opts = {})
      data, _status_code, _headers = get_channel_catalog_marketplace_properties_with_http_info(channel_catalog_id, opts)
      return data
    end

    # Get the marketplace properties for a channel catalog
    # 
    # @param channel_catalog_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelCatalogMarketplaceProperties, Fixnum, Hash)>] ChannelCatalogMarketplaceProperties data, response status code and response headers
    def get_channel_catalog_marketplace_properties_with_http_info(channel_catalog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: V2UserMarketplacesChannelCatalogsApi.get_channel_catalog_marketplace_properties ..."
      end
      # verify the required parameter 'channel_catalog_id' is set
      fail ArgumentError, "Missing the required parameter 'channel_catalog_id' when calling V2UserMarketplacesChannelCatalogsApi.get_channel_catalog_marketplace_properties" if channel_catalog_id.nil?
      # resource path
      local_var_path = "/v2/user/marketplaces/channelcatalogs/{channelCatalogId}/properties".sub('{format}','json').sub('{' + 'channelCatalogId' + '}', channel_catalog_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChannelCatalogMarketplaceProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V2UserMarketplacesChannelCatalogsApi#get_channel_catalog_marketplace_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the marketplace settings for a channel catalog
    # 
    # @param channel_catalog_id Channel Catalog Id to query (required)
    # @param [Hash] opts the optional parameters
    # @return [ChannelCatalogMarketplaceSettings]
    def get_channel_catalog_marketplace_settings(channel_catalog_id, opts = {})
      data, _status_code, _headers = get_channel_catalog_marketplace_settings_with_http_info(channel_catalog_id, opts)
      return data
    end

    # Get the marketplace settings for a channel catalog
    # 
    # @param channel_catalog_id Channel Catalog Id to query (required)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelCatalogMarketplaceSettings, Fixnum, Hash)>] ChannelCatalogMarketplaceSettings data, response status code and response headers
    def get_channel_catalog_marketplace_settings_with_http_info(channel_catalog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: V2UserMarketplacesChannelCatalogsApi.get_channel_catalog_marketplace_settings ..."
      end
      # verify the required parameter 'channel_catalog_id' is set
      fail ArgumentError, "Missing the required parameter 'channel_catalog_id' when calling V2UserMarketplacesChannelCatalogsApi.get_channel_catalog_marketplace_settings" if channel_catalog_id.nil?
      # resource path
      local_var_path = "/v2/user/marketplaces/channelcatalogs/{channelCatalogId}/settings".sub('{format}','json').sub('{' + 'channelCatalogId' + '}', channel_catalog_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChannelCatalogMarketplaceSettings')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V2UserMarketplacesChannelCatalogsApi#get_channel_catalog_marketplace_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get  you marketplace channel catalog list
    # 
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceChannelCatalogList]
    def get_marketplace_account_stores(opts = {})
      data, _status_code, _headers = get_marketplace_account_stores_with_http_info(opts)
      return data
    end

    # Get  you marketplace channel catalog list
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceChannelCatalogList, Fixnum, Hash)>] MarketplaceChannelCatalogList data, response status code and response headers
    def get_marketplace_account_stores_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: V2UserMarketplacesChannelCatalogsApi.get_marketplace_account_stores ..."
      end
      # resource path
      local_var_path = "/v2/user/marketplaces/channelcatalogs/".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MarketplaceChannelCatalogList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V2UserMarketplacesChannelCatalogsApi#get_marketplace_account_stores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch the publication history for an account, sorted by descending start date
    # 
    # @param marketplace_technical_code Marketplace Technical Code to query (required)
    # @param account_id Account Id to query (required)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_catalog_id Channel Catalog Id by which to filter (optional)
    # @option opts [Integer] :count Amount of entries to fetch (optional, default set to 10) (default to 10)
    # @option opts [Array<String>] :publication_types Publication types by which to filter (optional)
    # @return [AccountPublications]
    def get_publications(marketplace_technical_code, account_id, opts = {})
      data, _status_code, _headers = get_publications_with_http_info(marketplace_technical_code, account_id, opts)
      return data
    end

    # Fetch the publication history for an account, sorted by descending start date
    # 
    # @param marketplace_technical_code Marketplace Technical Code to query (required)
    # @param account_id Account Id to query (required)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_catalog_id Channel Catalog Id by which to filter (optional)
    # @option opts [Integer] :count Amount of entries to fetch (optional, default set to 10)
    # @option opts [Array<String>] :publication_types Publication types by which to filter (optional)
    # @return [Array<(AccountPublications, Fixnum, Hash)>] AccountPublications data, response status code and response headers
    def get_publications_with_http_info(marketplace_technical_code, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: V2UserMarketplacesChannelCatalogsApi.get_publications ..."
      end
      # verify the required parameter 'marketplace_technical_code' is set
      fail ArgumentError, "Missing the required parameter 'marketplace_technical_code' when calling V2UserMarketplacesChannelCatalogsApi.get_publications" if marketplace_technical_code.nil?
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling V2UserMarketplacesChannelCatalogsApi.get_publications" if account_id.nil?
      if !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling V2UserMarketplacesChannelCatalogsApi.get_publications, must be smaller than or equal to 100.'
      end

      if !opts[:'count'].nil? && opts[:'count'] < 10
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling V2UserMarketplacesChannelCatalogsApi.get_publications, must be greater than or equal to 10.'
      end

      if opts[:'publication_types'] && !opts[:'publication_types'].all?{|item| ['PublishProducts', 'PublishOffers', 'Unpublish'].include?(item)}
        fail ArgumentError, 'invalid value for "publication_types", must include one of PublishProducts, PublishOffers, Unpublish'
      end
      # resource path
      local_var_path = "/v2/user/marketplaces/channelcatalogs/publications/{marketplaceTechnicalCode}/{accountId}/history".sub('{format}','json').sub('{' + 'marketplaceTechnicalCode' + '}', marketplace_technical_code.to_s).sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'channelCatalogId'] = opts[:'channel_catalog_id'] if !opts[:'channel_catalog_id'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'publicationTypes'] = @api_client.build_collection_param(opts[:'publication_types'], :csv) if !opts[:'publication_types'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountPublications')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V2UserMarketplacesChannelCatalogsApi#get_publications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save new marketplace settings for a channel catalog
    # Allow you to configure your marketplace settings.  Partial update accepted. 
    # @param channel_catalog_id Channel Catalog Id to query
    # @param model Settings to save
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_channel_catalog_marketplace_settings(channel_catalog_id, model, opts = {})
      set_channel_catalog_marketplace_settings_with_http_info(channel_catalog_id, model, opts)
      return nil
    end

    # Save new marketplace settings for a channel catalog
    # Allow you to configure your marketplace settings.  Partial update accepted. 
    # @param channel_catalog_id Channel Catalog Id to query
    # @param model Settings to save
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_channel_catalog_marketplace_settings_with_http_info(channel_catalog_id, model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: V2UserMarketplacesChannelCatalogsApi.set_channel_catalog_marketplace_settings ..."
      end
      # verify the required parameter 'channel_catalog_id' is set
      fail ArgumentError, "Missing the required parameter 'channel_catalog_id' when calling V2UserMarketplacesChannelCatalogsApi.set_channel_catalog_marketplace_settings" if channel_catalog_id.nil?
      # verify the required parameter 'model' is set
      fail ArgumentError, "Missing the required parameter 'model' when calling V2UserMarketplacesChannelCatalogsApi.set_channel_catalog_marketplace_settings" if model.nil?
      # resource path
      local_var_path = "/v2/user/marketplaces/channelcatalogs/{channelCatalogId}/settings".sub('{format}','json').sub('{' + 'channelCatalogId' + '}', channel_catalog_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: V2UserMarketplacesChannelCatalogsApi#set_channel_catalog_marketplace_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
